*.zip
*.rar
*.doc
*.docx
*.pptx
*.ppt
/test.cpp
/test.exe
/.vscode
/.vs
/temp
*.ipdb
*.pdb
*.iobj
*.ilk
demo/client-demo/.vs/*
demo/client-demo/x64/*
demo/client-demo/Debug/*
demo/server-demo/.vs/*
demo/server-demo/x64/*
demo/server-demo/Debug/*